---
name: Lint and Test

on:
  push:
    paths-ignore:
      - '.gitignore'
      - 'CITATION.cff'
      - 'LICENSE'
      - 'README.md'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'CITATION.cff'
      - 'LICENSE'
      - 'README.md'

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          # - os: macos-latest
          # - os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt,clippy
      - name: fmt
        run: cargo fmt -- --check
      - name: clippy
        run: cargo clippy --no-deps --all-features
      - name: build
        run: cargo build
      - name: test
        run: cargo test --all-features
