---
name: Lint and Test

on:
  push:
    paths-ignore:
      - '.gitignore'
      - 'CITATION.cff'
      - 'LICENSE'
      - 'README.md'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'CITATION.cff'
      - 'LICENSE'
      - 'README.md'

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          # - os: macos-latest
          # - os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'true'
      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Install Rust nightly for rustfmt
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - name: fmt
        run: cargo +nightly fmt -- --check
      - name: check feature combinations
        run: |
              cargo check --all-targets --features "cache"
              cargo check --no-default-features
              cargo check --no-default-features --features sophia
              cargo check --no-default-features --features cache
      - name: clippy
        run: cargo clippy --no-deps --all-features
      - name: build
        run: cargo build
      - name: test
        run: cargo test --all-features
